/* ========================= */
/* BASE GENERAL */
/* ========================= */
body {
    background: radial-gradient(circle at center, var(--bg-soft), var(--bg));
    color: var(--p-color);
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.7;
}
/* ========================= */
/* TOPBAR */
/* ========================= */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: linear-gradient(90deg, #111, #1a0000);
    border-bottom: 1px solid rgba(255,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* LOGO */
.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(135deg,#ff3c00,#ff0000,#6a0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ========================= */
/* BOTONES */
/* ========================= */
button {
    background: linear-gradient(135deg, var(--btn-color), #2b0000);
    color: var(--btn-text);
    border: 1px solid rgba(255,0,0,0.4);
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

    button:hover {
        transform: scale(1.08);
        box-shadow: 0 0 12px rgba(255,0,0,0.6);
    }

/* PERSONALIZAR */
#themeBtn {
    background: linear-gradient(135deg, #444, #111);
}

/* LOGIN */
.login-btn {
    background: linear-gradient(135deg,#ff0000,#8b0000,#2b0000);
}

/* ========================= */
/* DROPDOWN */
/* ========================= */
.dropdown-content {
    display: none;
    position: absolute;
    background: var(--card);
    border-radius: 10px;
    padding: 6px;
    border: 1px solid rgba(255,0,0,0.3);
}

.dropdown-btn:hover .dropdown-content {
    display: block;
}

/* ========================= */
/* PANEL */
/* ========================= */
.color-panel {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--card);
    padding: 15px;
    border-radius: 14px;
    z-index: 9999;
    width: 260px;
    border: 1px solid rgba(255,0,0,0.2);
}

.hidden {
    display: none;
}

/* ========================= */
/* PALETA */
/* ========================= */
.palette {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 6px;
}

.color-swatch {
    aspect-ratio: 1;
    border-radius: 6px;
    cursor: pointer;
}

    .color-swatch:hover {
        transform: scale(1.2);
    }

.mode-btn.active {
    background: var(--btn-color);
}
/* ========================= */
/* MAIN */
/* ========================= */
main {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 2;
}

/* ========================= */
/* FOOTER */
/* ========================= */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    border-top: 2px solid #8b1e1e;
    margin-top: 40px;
}

/* TITULOS */
h1, h2, h3, h4, h5, h6 {
    color: var(--h-color);
}
