/* ========================= */
/* EFECTOS */
/* ========================= */

/* CENIZA */
.ceniza {
    position: fixed;
    top: -10px;
    filter: blur(1px);
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    animation: caer linear infinite;
}

@keyframes caer {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(50vh) translateX(var(--drift));
    }

    100% {
        transform: translateY(100vh) translateX(calc(var(--drift) * -0.5));
    }
}

/* TEXTO FUEGO */
.texto-fuego {
    color: #ff6a00;
    text-shadow: 0 0 5px #ff6a00, 0 0 10px #ff4500, 0 0 20px #ff2200, 0 0 40px rgba(255, 80, 0, 0.7);
}

    .texto-fuego:hover {
        text-shadow: 0 0 10px #ff6a00, 0 0 20px #ff4500, 0 0 40px #ff2200, 0 0 80px rgba(255, 80, 0, 1);
    }
