/* ========================= */
/* INDEX */
/* ========================= */

.header-portada {
    background-image: url("../img/imagenh.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #8b1e1e;
}

    .header-portada::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55);
    }

.header-contenido {
    position: relative;
    text-align: center;
}
.nota-autor {
    margin-top: 30px;
    padding: 18px;
    background: #1a1a1a;
    border-left: 4px solid #d94c1a;
    font-style: italic;
}